@import url('https://fonts.googleapis.com/css?family=Lobster');

* { 
	padding: 0;
	margin: 0; 
	text-align: center;
}
body{background-color: #DBDFAC;}
canvas {
	background: #DB162F;
	display: block;
	margin: 0 auto;
}
h1 {
	font-size: 60px;
	text-align: center;
	font-family: Lobster;
	padding:10px;
	display: inline;
}
h2 {
	font-size: 24px;
	text-align: center;
	font-family: Lobster;
	display: inline;
}